div.major{
  background-image: linear-gradient(to bottom right, mediumseagreen, black);
  background-size: 100% 500%;
  background-attachment: fixed;
  border-radius: 800px 0px 300px 0px;
}
header{
  position: fixed;
  top: 1px;
  left:0px;
  right: 0px;
  background: black;
  padding: -10px;
  height: 60px;
  width: 100%;
}
button{
  font-family: Monospace;
  font-size: 13px;
  font-weight: bold;
  color: black;
  height: 30px;
  margin-right: 2px;
  background-color: mediumseagreen;
  border-right: gray;
  border-top: gray;
}
nav{
  float: right;
  color: mediumseagreen;
}
button:hover{
font-family: Monospace;
  font-size: 13px;
  font-weight: bold;
  color: green;
  background: white;
  background-size: 70px 35px;
}
div.main{
background-image: linear-gradient(to bottom right, mediumseagreen, black);
  max-width: 100%;
  background-attachment: fixed;
  border-radius:none;
  border: none;
  padding-left: -10px;
  padding-right: -10px;
}
img{
  height: 150px;
  width: 150px;
  border: none;
  border-radius: 45%;
  float: center;
}
.logo{
  height: 45px;
  width: 30px;
  border: none;
  border-radius: 40px;
  margin: 10px;
}
h3{
  font-family: Monospace;
  text-shadow: 2px 3px 4px white;
  font-size: 20px;
  font-weight: bold;
}
marquee{
  font-family: Times New Roman;
  font-weight: bold;
  font-style: italic;
}
footer{
  height: 40px;
  width: 100%;
  position: fixed;
  padding: -10px;
  bottom: 0px;
  left: 0px;
  right: 0x;
  background: black;
}
h6{
font-family: Monospace;
  text-shadow: 2px 3px 4px white;
  font-size: 12px;
  font-weight: bold;
  color: mediumseagreen;
  text-align: center
}
h6.mid{
font-family: Monospace;
  text-shadow: 2px 3px 4px white;
  font-size: 12px;
  font-weight: bold;
  color: black;
  text-align: center
  margin-bottom: -5px;
}
h4{
  font-family: Monospace;
  font-weight: bold;
  color: orange;
  margin-bottom: -1px;
}
p{
  color: white;
  font-family: Times New Roman;
  font-weight: bold;
  margin-top: 0px;
}
#in{
  height: 30px;
  width: 60%;
  background: white;
  border-radius: 10px;
  border: none;
}
#in:hover{
  height: 30px;
  width: 75%;
  background: aqua;
  border-radius: 10px;
  border: black;
}
textarea{
  border-radius: 10px;
}
textarea:hover{
  background: aqua
}
#submit{
  background: mediumseagreen;
  border-top: 2px inset gray;
  border-left: 2px inset gray;
  border-right: none;
  border-bottom: none;
  color: white;
  font-family: Monospace;
  max-width: 85px;
  max-height: 60px;
}
#submit:hover{
  background: white;
}
